.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.controls {
  padding: 20px;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  border: 1px solid var(--white);
}

.border {
  border-left: 1px solid var(--white);
}

.example,
.code {
  flex: 1 0 1px;
  padding: 12px;
  overflow: auto;
}
