:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --back: #000000;
  --front: #ffffff;

  color-scheme: light dark;
  color: var(--front);
  background-color: var(--back);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --back: #ffffff;
    --front: #000000;
  }
}

body {
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
}

.app {
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 800px;
  border: 1px solid var(--front);
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex {
  display: flex;
}

.expand {
  flex: 1;
}

.filter {
  align-self: center;
  padding: 20px 0;
}

.filter-input {
  display: flex;
  justify-content: space-around;
  padding-bottom: 12px;
}

button {
  cursor: pointer;
}

.todo {
  padding: 8px 12px;
  border-bottom: 1px solid var(--front);
}
